<div class="section" id="group_balances">
	<div id="group_token">
		The code to join this group is <%= @group.group_token %>
	</div>
	<h2><%= @group.name %> balances</h2>
	<div class="subsection">
		<% @group.users.each do |user| %>
			<%= summary_for_user(user).html_safe %>
		<% end %>
	</div>
</div>

<div class="section">
	<h2><%= @group.name %> history</h2>	
		<div class="subsection">
	<% @group.history.first(20).each do |history_item| %>
		<%= history_item_summary(@group, history_item).html_safe %>
	<% end %>
	</div>
</div>