<%= content_for :head do %>
<%= javascript_include_tag 'jquery', 'datepicker' %>
<%= stylesheet_link_tag 'cupertino/jquery-ui.css' %>
<script type="text/javascript">
	$(function() {
		$("#datepicker").datepicker({dateFormat: 'DD d MM yy', firstDay: 1});
	});
</script>
<% end %>

<%= form_for [@group, @payment] do |f| %>
	<%= f.hidden_field :group_id, :value => params[:group_id] %>
	<div class="field">
		<div>
			<%= f.label :amount %>
		</div>
		<div id="amount_field">
			<%= f.text_field :amount_parse, :value => display_price_for_form(@payment.amount) %>
			<div id="pound_sign">&pound;</div>
		</div>
	</div>
	<div class="field">
		<div>
			<%= f.label :current_mileage %>
		</div>
		<div>
			<%= f.text_field :mileage, :value => @payment.mileage ? @payment.mileage : @group.current_mileage %>
		</div>
	</div>
	<div class="field">
		<div>
			<%= f.label :date %>
		</div>
		<div>
			<%= f.text_field :date, :value => (l (@payment.date ||= Date.today), :format => :long), :id => 'datepicker' %>
		</div>
	</div>
	<div>
		<%= f.label :who_contributed? %>
	</div>
	<div id="payment_users">
		<% @group.users.each do |user| %>
			<div class="payment_user">
				<div class="payment_user_input">
					<%= check_box_tag "payment[user_ids][]", user.id, @payment.users.include?(user), :id => "user_#{user.name.parameterize}" %>
				</div>
				<div class="payment_user_name">
					<%= label_tag "user_#{user.name.parameterize}", user.name %>
				</div>
			</div>
		<% end %>
	</div>
	<div id="payment_submit">
		<div>
			<%= f.submit :Submit %>
		</div>
	</div>
<% end %>